* {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    height: 100vh;
    margin-top: 10%;
}

a {
    text-decoration: none;
    color: black;

}


hr {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #cecece;
}

.first__under {
    margin-top: 50px;
    margin-bottom: 50px;
}

.second__under {
    margin-top: 25px;
    height: 2px;
    background-color: #dddddd;
}


.title__order {
    margin-left: 50px;
    font-size: 12px;
    font-weight: 600;
}

.tb__order {
    display: grid;
    /* grid-auto-flow: column; */
    margin-left: 30px;
    font-size: 12px;
    text-align: center;
    color: #a3a3a3;
}

.tb__right {
    text-align: end;
}

table {
    width: 95%;

}

tfoot td, tfoot tr{
    border-bottom: 1px solid #a3a3a3;
    padding: 10px;
}

.order__path {
    font-weight: 600;
    font-size: 12px;
    margin-left: 12px;
}

.order__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 1%;
}
.order__title h1 {
    font-weight: 600;
    font-size: 25px;

}

.order__title__detail {
    font-size: 12px;
}

.order__title__detail a:first-child {
    color: #8d8d8d;
}

.order__title__detail a:last-child {
    color: #8d8d8d;
}