/* admin에 사용하는 테이블 디자인 */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 12px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f3f3f3;
    text-align: center;
    font-size: 14px;
}