/* admin에 사용하는 테이블 디자인 */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 14px;
}

th, td {
    padding: 10px;

    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

th {
    border: 1px solid #ddd;
    background-color: #f3f3f3;
    text-align: center;
    font-size: 16px;
}