/* admin 메뉴바 css */
.header-container {
    display: flex;
    align-items: center;
    position: relative; /* 중앙 정렬을 위한 상대적 위치 설정 */
}

.header-title {
    position: absolute; /* 절대 위치를 사용하여 중앙에 배치 */
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}

.header-button {
    flex: none; /* 버튼 크기 고정 */
}

.w3-main, #main {
    transition: margin-left .0s;
}

.w3-animate-left {
    animation: none;
}

.w3-container {
    overflow-x:auto;
}