
.main_footer {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(2, 45%);
    width: 100%;
    justify-content: center;
    align-items: start;
    padding-top: 40px;
    background-color: darkolivegreen;
}

.wrap_inner_left {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 8%;

}

.footerBottom .menu {
    display: flex;
    margin: 20px 0;
}

.footer_wrapper {
    border-top: 1px solid #a3a3a3;
}

.footer_wrapper a {
    color: #dbdbdb;
    font-size: 12px;
    text-decoration: none;
    line-height: 2;
}

.footer_wrapper span {
    color: #dbdbdb;
    font-size: 12px;
    position: relative;
    vertical-align: top;
    line-height: 2;
}

.wrap_inner_right {
    display: grid;
    grid-template-columns: 200px 280px 140px;
    place-items: start end;
    text-align: start;
}

.cs, .bank, .community {
    display: flex;
    flex-direction: column;
}

.footerLogo > span,
.info > span {
    padding-left: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #dbdbdb !important;
}
.tel,
.bank_info,
.shopmenu {
    font-size: 18px !important;
    font-weight: bold;
    color: #dbdbdb !important;
}

.wrap_inner_bottom {
    grid-column-start: -2;
    grid-column-end: -1;
    margin-top: 3.5%;
    margin-left: 12.5%;
}