body {
    padding-top: 200px;
}

.cart_link {
    text-decoration: none;
    color: black;
}

.cart__header {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
}


.top_header {
    display: grid;
    justify-content: end;
    margin-right: 5%;
}

.top_header_ul,
.main_header_ul{
    list-style: none;
    /*display: flex;*/
}

.top_header ul {
    margin-right: 60px;
    display: flex;
}

.top_header li {
    margin: 10px;
    font-size: 12px;
    color: #4d4d59;
}

.main_header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    margin: 0px 8%;
}

.main_header h1 {
    font-size: 35px;
    font-weight: 900;
    font-style: italic;
}


.main_header li {
    margin: 17px;
    font-size: 19px;
}

.main_header_ul a:first-child {
    font-weight: bold;
}

.main_header_ul {
    display: flex;
}


i {
    color: #4d4d59;
}