* {
    margin: 0;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: 3px dotted #eee;
}

#caption {
    color: white;
}

.interview {
    position: relative;
    margin-right: 30px;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.cc {
    text-align: center;
    background-color: #222;
    padding: 5px;
    color: silver;
}

.cc p {
    margin: 0;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.video {
    position: relative;
}

.prev2,
.next2 {
    cursor: pointer;
    position: absolute;
    top: 90%;
    width: auto;
    padding: 3px;
    margin-top: 8px;
    color: silver;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev2 {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.dot {
    position: relative;
    top: 20px;
    left: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

}
.videoDot > .active,
.dot:hover {
    background-color: #717171;
}

#king {
    display: flex;
    margin: 0;
}

.interview,
.video {
    width: 50%;
    box-sizing: border-box;
}

.three>p {
    font-size: 12px;
    margin-top: 10px;
}

.title {
    color: dimgrey;
    display: flex;
    font-size: 14px;
    margin-bottom: -5px;
}

.mySlides2 img {
    margin-bottom: 10px;
}

.mySlides2>.text {
    margin-bottom: 10px;
}

.text {
    position: relative;
    margin-top: 7px;
    font-size: 14px;
    color: dimgray;
    text-align: center;
}

.videoDot{
    top: 30px;
}