
body {
    margin: 0;
}

/*     flex-direction: column; */

.navibar {
    background-color: white;
    margin-left: 2%;
}

.navibar a {
    float:left;
    font-size: 16px;
    color: white;
    padding: 7px 0;
    margin-right: 10px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .sub__navBtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    background-color: inherit;
    margin: 0;
    text-align: center;
    letter-spacing: 0.5px;
}


.sub__nav__content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 99;
    white-space: nowrap;
    background-color: white;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(223,4,29,0.5);

}
.sub__nav__content__group {
    display: flex;
    justify-content: center;
}
.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 3%;
}

.mid a:first-child {
    font-weight: 600;
    font-size: 16px;
}

.sub__nav__content a {
    float: left;
    color: black;
    /*text-decoration: none;*/
    background-color: white;
    font-size: 14px;
}

.sub__nav__content a:hover {
    color: rgba(223,4,29,0.5);
    border-bottom: 1px solid red;
}

.subnav:hover .sub__nav__content {
    display: block;
}