.tb__order table {
    /* 2024.05.21 [혁락] 85% -> 55%*/
    /* 2024.05.22 [다니] 55% -> 85%*/
    width: 85%;
    margin: 0 auto;
    text-align: left;
    font-size: 13px;
    line-height: 1.35;
    color: #777;
}

.product-info {
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left !important;
}

.product-info img {
    width: 100px;
    height: 110px;
    object-fit: scale-down;
    background-color: #ebebeb;
}

.info {
    margin-left: 50px;
}
.info .brand {
    font-weight: bold;
}

.info .name {
    font-size: 1.1em;
}

.info .name a {
    text-decoration: none;
    color: black;
}

.info .name a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.info .option {
    color: gray;
}

.order__title__detail a,
.tb__order a{
    text-decoration: none;
    color: black;
}

.priceFormat {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.head_main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 9px;
    margin-bottom: 40px;
    text-decoration: none;
    cursor: auto;
}

.tb__order th,
.tb__order td {
    text-align: center;
}

.tb__order td {
    padding: 18px 0;
    vertical-align: middle;
    font-size: 16px;
}

.tb__order td a {
    color: black;
    text-decoration: none;
}

.tb__order hr {
    width: 85%;
    height: 1px;
    border: 0;
    background-color: #cecece;
}

.first__under {
    margin-top: 20px;
}

.tb__order thead th {
    padding: 11px 0;
    background-color: #333;
    color: white;
    border-top: 2px solid #000;
    border-bottom: 1px solid #e5e5e5;
    font-size: 15px;
    font-weight: bold;
}

.head_order {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.order__title {
    align-items: center;
    margin: 1% 8%;
    color: rgb(51, 51, 51);
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1.4px;
    text-align: right;
    white-space: nowrap;
}

.label {
    margin-left: 10px;
    font-size: 14px;
}

.order__title__detail {
    font-size: 15px;
}

.order__title__detail a:first-child {
    color: #8d8d8d;
}

.order__title__detail a:last-child {
    color: #8d8d8d;
}

.title__order {
    margin-left: 8%;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 3%;
}

.tb__right div {
    padding: 15px 15px 15px 25px;
    width: 300px;
}
.totalSum,
.odpayamt,
.coupon,
.grade,
.card,
.point,
.dlv-fare{
    display: flex;
    justify-content: space-between;
}

#odpayamt {
    font-size: larger;
    font-weight: 900;
}

.product-row {
    border-bottom: 1px solid #ccc;
}


.tb__right {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
    height: fit-content;
}

/*
.tb__order tfoot td,
.tb__order tfoot tr{
    border-bottom: 1px solid black;
    padding: 10px;
}
*/

