.order__items * {
    font-family: "IBM Plex Sans KR", sans-serif;
    /*font-weight: 400;*/
    font-style: normal;
}

.tb__order table {
    /* 2024.05.21 [혁락] 85% -> 55%*/
    /* 2024.05.22 [다니] 55% -> 85%*/
    width: 85%;
    margin: 0 auto;
    text-align: left;
    font-size: 13px;
    line-height: 1.35;
    color: #777;
}

.order__title__detail a,
.tb__order a{
    text-decoration: none;
    color: black;
}

.priceFormat {
    font-size: 16px;
    font-weight: 600;
    color: black;
}



.head_main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 9px;
    margin-bottom: 40px;
    text-decoration: none;
    cursor: auto;
}

.tb__order th,
.tb__order td {
    text-align: center;
}

.tb__order td {
    padding: 18px 0;
    vertical-align: middle;
    font-size: 16px;
}

.tb__order td a {
    color: black;
    text-decoration: none;
}

.tb__order hr {
    width: 85%;
    height: 1px;
    border: 0;
    background-color: #cecece;
}

.first__under {
    margin-top: 20px;
}

.tb__order thead th {
    padding: 11px 0;
    background-color: #333;
    color: white;
    border-top: 2px solid #000;
    border-bottom: 1px solid #e5e5e5;
    font-size: 15px;
    font-weight: bold;
}

.head_order {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.order__title {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    margin: 1% 8%;
    color: rgb(51, 51, 51);
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1.4px;
    justify-content: space-between;
    text-align: center;
    white-space: nowrap;
}

.label {
    margin-left: 10px;
    font-size: 14px;
}


.tb__order img {
    height: 110px;
    width: 110px;
}


.order__title__detail {
    font-size: 15px;
}

.order__title__detail a:first-child {
    color: #8d8d8d;
}

.order__title__detail a:last-child {
    color: #8d8d8d;
}



.title__order {
    margin-left: 8%;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5%;
}


.tb__right {
    display: flex;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    flex-direction: column;
    align-items: end;
    padding: 1.5%;
}
.tb__right div {
    border: 1px solid black;
    padding: 15px;
    width: 250px;
}
.totalSum,
.odpayamt,
.cupon,
.grade,
.card,
.point{
    display: flex;
    justify-content: space-between;
}

#odpayamt {
    font-weight: bold;
}

/*.tb__right {
    !*display: block;*!
    text-align: right   ;
    justify-content: space-evenly;
    place-items: center center;
    font-weight: bold;
    font-size: 14px;
}

.tb__order tfoot td,
.tb__order tfoot tr{
    border-bottom: 1px solid black;
    padding: 10px;
}

