.order-container {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-style: normal;
}

.head_order_det {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1.4px;
    margin-bottom: 40px;
}

.order_det_table {
    width: 85%;
    margin: 0 auto;
    text-align: left;
    font-size: 13px;
    line-height: 1.35;
    color: #777;
}

.order_det_table a {
    text-decoration: none;
    color: black;
}

.order_det_table thead th {
    padding: 11px 0;
    background-color: #333;
    color: white;
    border-top: 2px solid #000;
    border-bottom: 1px solid #e5e5e5;
    font-size: 15px;
    font-weight: bold;
}

.order_det_table td{
    padding: 10px 0;
    vertical-align: middle;
    font-size: 16px;
}

.order_det_table td,
.order_det_table th {
    text-align: center;
}

.product-info img {
    height: 110px;
    width: auto;
}
hr {
    width: 80%;
    height: 1px;
    border: 0;
    background-color: #cecece;
}

.product-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    margin-left: 5%;
}