body.productDetail{
    margin-top: 75px;
}
:root {
    --btn-width : 90%;
    --btn-min-width : 100%;
    --btn-height : 5vh;
    --btn-min-height : 5px;
    --menu-height : calc(var(--btn-height) * 8);
    --menu-min-height : calc(var(--btn-min-height) * 2);
    --font-size : 2vw;
}
/*화면 상단부*/
.prdContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}
/*화면 상단 토글 메뉴*/
.prdLabel {
    width: 90%;
    height: var(--btn-height);
    min-height: var(--btn-min-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-top: 0.5px solid black
}
.ball{
    width: calc(var(--btn-height) * 0.4);
    height: calc(var(--btn-height) * 0.4);
    transition: 0.5s ease-in-out;
}
.prdMenu {
    width: var(--btn-width);
    min-width: var(--btn-min-width);
    height: 0;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    transition: 0.3s ease-in-out;
    list-style: none;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    border-bottom: 0.5px solid black;
}
.prdMenu li{
    letter-spacing: 0.5px;
    line-height: 150%;
    padding-top: 10px;
    padding-bottom: 20px;
}
.toggle:checked ~ .prdMenu{
    height: auto;
    min-height: auto;
    opacity: 1;
    display: block;
}
.toggle:checked ~ .prdLabel > .ball{
    transform: rotate(540deg);
}
/*화면 상단 나누기*/
.productMainContainer{
    display: flex;
    padding-bottom: 30px;
}
.productItemMnImg{
    flex: 3;
    width: 900px;
    height: 1000px;
    background-color: #EBEBEB;
}
.productItemDsc{
    flex: 2;
    padding-left: 50px;
}
/*화면 중단 상세 사진*/
.detailProductContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*제품 상세 사진*/
.image-container {
    text-align: center;
}

.image-container img {
    display: block;
    margin: 0 auto;
    width: 80%;
}
/*제품 대표이미지*/
#mnImg{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 상세페이지 뷰 스크롤 바 (이전에 구현한 네비게이션 바)*/
/*.prdList{*/
/*    display: flex;*/
/*    border-bottom:2px solid grey; border-top:2px solid grey;*/
/*    justify-content: center;*/
/*    padding-top: 5px;*/
/*    padding-bottom: 5px;}*/
/*.prdList li{margin-right: 5%; }*/
/*.prdList ul, .prdList ol, .prdList li{list-style-type:none;}*/
/*.prdList li a{color: black; text-decoration: none;}*/

/* 네비게아션 바 */
/* Sticky Nav */
.prdNavbar {
    overflow: hidden;
    background-color: white;
    z-index: 98;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid black; */
    /* border-bottom: 1px solid black; */
    /* height: 40px;*/
}

.prdNavbar ul{
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    background-color: whitesmoke;
}

.prdNavbar li{
    width: 100%;
    flex: 1;
}

.prdNavbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
}

.prdNavbar a:hover {
    background-color: darkgrey;
    color: white;
    padding: 20px;
}

.prdNavbar a.prdActive {
    background-color: darkolivegreen;
    color: white;
    padding: 20px;
}

.sticky {
    position: fixed;
    top: 57px;
    width: 100%;
    z-index: 98;
    height: 50px;
    align-items: center;
}

/* 리뷰작성 버튼 */
.reviewContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border: 1px solid black;*/
    width: 100%;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}
.writeReviewBtn{
    position: absolute;
    right: 1%;
    top: 8%;
}
/* 리뷰테이블 */
.reviewTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.reviewTable th, .reviewTable td {
    text-align: center;
    /*   border: 1px solid #000;  */
    border-bottom: 0.5px solid grey;
    padding: 10px;
}
.reviewTable th:nth-child(2), .reviewTable td:nth-child(2) {
    width: 70%;
}
.reviewTable td:nth-child(2), .reviewTable td:nth-child(5){
    text-align:left;
}
.reviewTable td:nth-child(5){
    color: gold;
    font-size: 1.1em;
    font-weight: bold;
}
.reviewTable th{
    background-color: whitesmoke;
}
.reviewContainer a{
    color: black;
    text-decoration: none;
}
.reviewContainer h2{
    text-align: left;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
}
.reviewContainer p{
    padding: 20px;
}

/* 제품문의작성 버튼 */
.QnAContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border: 1px solid black;*/
    width: 100%;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}
.writeQnABtn{
    position: absolute;
    right: 1%;
    top: 8%;
}

/* 제품문의테이블 */
.QnATable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.QnATable th, .QnATable td {
    text-align: center;
    /*   border: 1px solid #000;  */
    border-bottom: 0.5px solid grey;
    padding: 10px;
}
.QnATable th:nth-child(2), .QnATable td:nth-child(2) {
    width: 70%;
}
.QnATable td:nth-child(2), .QnATable td:nth-child(5) .QnATable th:nth-child(5){
    text-align:left;
}
.QnATable td:nth-child(5) {
    font-weight: bold;
}
.QnATable th{
    background-color: whitesmoke;
}
.QnAContainer a{
    color: black;
    text-decoration: none;
}
.QnAContainer h2{
    text-align: left;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
}
.QnAContainer p{
    padding: 20px;
}

#toggle1{
    padding-top: 30px;
}
.prdSubmitBtn{
    padding-top: 10px;
    padding-bottom: 20px;
}
.productMainContainer h2{
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 10px;
}
.productMainContainer b{font-weight: bold}

.productMainContainer p{padding-bottom: 10px;}

.detailProductContainer p{padding-top: 20px}

body{overflow-x: hidden}

.prdWishBtn {
    background: none;
    border: 2.5px solid green;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px; /* Removes any extra space around the icon */
}
.prdWishBtn ion-icon {
    --ionicon-stroke-width: 15; /* Adjust the stroke width as needed */
    color: red;
}
.fillColor {
    animation: fill 1s forwards;
}
@keyframes fill {
    from {
        color: white;
    }
    to {
        color: red;
    }
}
.prdRltdContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*gap: 20px; !* 이미지 간격 조정 *!*/
}
.prdRltd {
    text-align: center; /* 이미지와 제품명을 중앙 정렬 */
}
.prdRltd a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: inherit;
}
.prdRltd img {
    width: 400px; /* 이미지 너비 조정 */
    height: auto; /* 비율에 맞게 높이 자동 조정 */
    cursor: pointer; /* 마우스 포인터를 손가락 모양으로 변경 */
    border: 2px solid #ddd; /* 이미지 테두리 */
    border-radius: 5px; /* 테두리 둥글게 */
}
.prdRltd img:hover {
    border-color: darkgreen; /* 호버 시 테두리 색상 변경 */
}
.prdRltdName {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}
.prdRltdTitle{
    position: static;
    padding: 20px;
}
.prdRltdTitle b{
    font-weight: bold;
}
.prdRltdTitle h2{
    font-size: 1.5em;
    text-align: center;
}
.QnATableAnswered{
    color: darkgreen;
}
