/* admin 메뉴바 css */
.header-container {
    display: flex;
    align-items: center;
    position: relative; /* 중앙 정렬을 위한 상대적 위치 설정 */
}

.header-title {
    position: absolute; /* 절대 위치를 사용하여 중앙에 배치 */
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}

.header-button {
    flex: none; /* 버튼 크기 고정 */
}

/* admin에 사용하는 테이블 디자인 */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 12px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f3f3f3;
    text-align: center;
    font-size: 14px;
}