<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias alias="CustDto" type="com.homerunball.cust.dto.CustDto"/>
    <typeAlias alias="CartDto" type="com.homerunball.cart.domain.CartDto"/>
    <typeAlias alias="ProductDto" type="com.homerunball.admin.product.ProductDto"/>
    <typeAlias alias="ordDto" type="com.homerunball.ord.domain.OrdDto"/>
    <typeAlias alias="OrderDetDto" type="com.homerunball.ord.domain.OrderDetDto"/>
<!--    <typeAlias alias="OrderStatDto" type="com.homerunball.ord.domain.OrderStatDto"/>-->
<!--    <typeAlias alias="OrderHistDto" type="com.homerunball.ord.domain.OrderHistDto"/>-->
  </typeAliases>
</configuration>