<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias alias="ProductDto" type="com.homerunball.admin.product.domain.ProductDto"/>
    <typeAlias alias="MainProductDto" type="com.homerunball.admin.product.domain.MainProductDto"/>
    <typeAlias alias="StockDto" type="com.homerunball.admin.stock.domain.StockDto"/>
    <typeAlias alias="SizeDto" type="com.homerunball.admin.stock.domain.SizeDto"/>
  </typeAliases>
</configuration>