<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homerunball.admin.product.dao.MainProductDao">
    <!--prd(제품) 테이블에서 판매중인 신제품의 최대 소비자 가격과 최대 판매 가격을 stk(재고) 테이블에서 가져온다.-->
    <select id="selectNewMainProduct" resultType="MainProductDto">
        select p.pd_id, pd_name, mdl_name, mn_img_fn, pd_ad_cmt, pd_is_show, pd_chr_cd, pd_type_cd, pd_stat_hist_cd, max_rtl_prc, max_sls_prc, p.frst_reg_dt
        from (
        select *
        from prd
        where pd_chr_cd like "%N%" and pd_stat_hist_cd like "onSale" and pd_is_show like "Y"
        ) as p, (
        SELECT pd_id, MAX(rtl_prc) AS max_rtl_prc, MAX(sls_prc) AS max_sls_prc
        FROM stk
        GROUP BY pd_id
        ) as pp
        where p.pd_id = pp.pd_id
        order by frst_reg_dt desc
    </select>

    <!--prd(제품) 테이블에서 판매중인 신제품의 최대 소비자 가격과 최대 판매 가격을 stk(재고) 테이블에서 가져온다.-->
    <select id="selectHotMainProduct" resultType="MainProductDto">
        select p.pd_id, pd_name, mdl_name, mn_img_fn, pd_ad_cmt, pd_is_show, pd_chr_cd, pd_type_cd, pd_stat_hist_cd, max_rtl_prc, max_sls_prc, p.frst_reg_dt
        from (
        select *
        from prd
        where pd_chr_cd like "%H%" and pd_stat_hist_cd like "onSale" and pd_is_show like "Y"
        ) as p, (
        SELECT pd_id, MAX(rtl_prc) AS max_rtl_prc, MAX(sls_prc) AS max_sls_prc
        FROM stk
        GROUP BY pd_id
        ) as pp
        where p.pd_id = pp.pd_id
        order by frst_reg_dt desc
    </select>

    <!--prd(제품) 테이블에서 판매중인 인기 제품의 최대 소비자 가격과 최대 판매 가격을 stk(재고) 테이블에서 가져온다.-->
    <select id="selectRecommendMainProduct" resultType="MainProductDto">
        select p.pd_id, pd_name, mdl_name, mn_img_fn, pd_ad_cmt, pd_is_show, pd_chr_cd, pd_type_cd, pd_stat_hist_cd, max_rtl_prc, max_sls_prc, p.frst_reg_dt
        from (
        select *
        from prd
        where pd_chr_cd like "%R%" and pd_stat_hist_cd like "onSale" and pd_is_show like "Y"
        ) as p, (
        SELECT pd_id, MAX(rtl_prc) AS max_rtl_prc, MAX(sls_prc) AS max_sls_prc
        FROM stk
        GROUP BY pd_id
        ) as pp
        where p.pd_id = pp.pd_id
        order by frst_reg_dt desc
    </select>

    <!--prd(제품) 테이블에서 판매중인 스테디셀러 제품의 최대 소비자 가격과 최대 판매 가격을 stk(재고) 테이블에서 가져온다.-->
    <select id="selectSteadyMainProduct" resultType="MainProductDto">
        select p.pd_id, pd_name, mdl_name, mn_img_fn, pd_ad_cmt, pd_is_show, pd_chr_cd, pd_type_cd, pd_stat_hist_cd, max_rtl_prc, max_sls_prc, p.frst_reg_dt
        from (
        select *
        from prd
        where pd_chr_cd like "%S%" and pd_stat_hist_cd like "onSale" and pd_is_show like "Y"
        ) as p, (
        SELECT pd_id, MAX(rtl_prc) AS max_rtl_prc, MAX(sls_prc) AS max_sls_prc
        FROM stk
        GROUP BY pd_id
        ) as pp
        where p.pd_id = pp.pd_id
        order by frst_reg_dt desc
    </select>
</mapper>