<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homerunball.order.dao.OrderAndStkDao">

    <select id="getcartItem" resultType="OrdAndStkDto" parameterType="int">
            select  p.pd_name, p.sls_prc, c.cart_cnt, c.c_id
            from cart c , stk p
            where c.pd_id = p.pd_id and c.c_id = #{c_id};
    </select>

</mapper>