<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homerunball.order.dao.OrderHistDao">

<!--    <select id="count" resultType="int">-->
<!--        select count(*) from ord_hist-->
<!--    </select>-->

<!--    &lt;!&ndash;이력한개 삭제&ndash;&gt;-->
<!--    <delete id="delete" parameterType="map" >-->
<!--        delete from ord_hist where od_hist_seqnum = #{od_hist_seqnum} and od_id = #{od_id} and c_id = #{c_id}-->
<!--    </delete>-->

<!--    &lt;!&ndash;모든이력 삭제&ndash;&gt;-->
<!--    <delete id="deleteAll">-->
<!--        delete from ord_hist-->
<!--    </delete>-->

<!--    &lt;!&ndash;이력 추가&ndash;&gt;-->
<!--    <insert id="insert" parameterType="OrderStatDto">-->
<!--        insert into ord_hist (od_hist_seqnum, od_id, c_id, od_cng_item_cd, od_bf, od_af, od_cng_dt, frst_reg_dt, frst_reg_id, last_mod_dt, last_mod_id)-->
<!--        values-->
<!--            (#{od_hist_seqnum},#{od_id},#{c_id},#{od_cng_item_cd},#{od_bf},#{od_af},#{od_cng_dt},#{frst_reg_dt},#{frst_reg_id},#{last_mod_dt},#{last_mod_id})-->
<!--    </insert>-->

</mapper>