<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PayAmtDto">
 <!--
    <select id="insertPayAmt" parameterType="PayAmtDto" resultType="PayAmtDto">
        INSERT INTO pay
            (pay_id, pay_seqnum, c_id, od_id, disc_amt, od_pay_amt, pay_final_amt, pay_stat_cd, pay_dt, pay_meth_cd, pay_aprv_stat, pay_aprv_num, pay_aprv_dt, pay_resp_cd, pay_canc_amt, pay_canc_dt, c_name, trans_type, card_co, mth_instlmt, card_num, bank_name, acct_num, frst_reg_dt, frst_reg_id, last_mod_dt, last_mod_id)
        VALUES
            (
             #{pay_id},
             #{pay_seqnum},
             #{c_id},
             #{od_id},
             #{disc_amt},
             #{od_pay_ant},
             #{pay_final_amt},
             #{pay_stat_cd},
             DATE_FORMAT(NOW(), 'YYYY-MM-DD HH24:MI:SS'),
             #{pay_meth_cd},
             #{pay_aprv_stat},
             #{pay_aprv_num},
             #{pay_aprv_dt},
             #{pay_resp_cd},
             #{pay_canc_amt},
             #{pay_canc_dt},
             #{c_name},
             #{trans_type},
             #{card_co},
             #{mth_instlmt},
             #{card_num},
             #{bank_name},
             #{acct_num},
             DATE_FORMAT(NOW(), 'YYYY-MM-DD HH24:MI:SS'),
             #{frst_reg_id},
             DATE_FORMAT(NOW(), 'YYYY-MM-DD HH24:MI:SS'),
             #{last_mod_id}
             )
    </select>
 -->

</mapper>