<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homerunball.product.customer.dao.ProductViewMapper">
<!--    Prd Table-->
    <select id="countPrd" resultType="int">
        select count(*) from prd;
    </select>
<!--    선택한 제품의 상세정보를 조회-->
    <select id="selectPrd" resultType="pdViewDto" parameterType="String">
        select * from prd where pd_id = #{pd_id}
    </select>
<!--    등록된 제품 전체를 검색-->
    <select id="selectAllPrd" resultType="pdViewDto">
        select * from prd;
    </select>
<!--    선택한 제품의 재고 속성들을 조회(재고 옵션중 1개만 검색)-->
    <select id="selectStkRandOne" resultType="stkViewDto" parameterType="String">
        select * from stk where pd_id = #{pd_id} limit 1;
    </select>
<!--    선택한 제품의 재고 속성들을 조회-->
    <select id="selectAllStkId" resultType="stkViewDto" parameterType="String">
        select * from stk where pd_id = #{pd_id};
    </select>
<!--    제품과 옵션을 선택, 선택한 정보로 재고 테이블을 조회-->
    <select id="selectStkOpt" resultType="stkViewDto" parameterType="map">
        select * from stk where pd_id = #{pd_id} and pd_clsf_cd = #{pd_clsf_cd};
    </select>
<!--    제품명 키워드로 최대 5개까지 테이블을 조회-->
    <select id="findByKeyword" resultType="map" parameterType="String">
        select pd_id, pd_name from prd where pd_name like concat('%', #{keyword} ,'%') limit 5;
    </select>
<!--    제품리스트 제품타입에 따라 테이블에서 조회 (이름, 가격, 사진)-->
    <select id="findByType" resultType="map" parameterType="String">
        SELECT s.pd_id              -- 제품 아이디
              ,p.brd_cd	            -- 브랜드 코드
              ,p.pd_name             -- 제품 이름
              ,p.mn_img_fn 	        -- 제품 이미지
              ,   CASE
                     WHEN MIN(s.sls_prc) = MAX(s.sls_prc)
                         THEN CAST(MIN(s.sls_prc) AS CHAR)
                     ELSE CONCAT(MIN(s.sls_prc), '~', MAX(s.sls_prc))
            END AS price_range      -- 제품 가격(사이즈별로 상이해서 최소~최대)
        FROM prd p, stk s, CMN_CD c
        where	p.pd_id           = s.pd_id
          and p.pd_type_cd      = #{pd_type_cd}	-- #{pd_type_cd}
          and c.cd              = 403	          -- 403:브랜드
          and p.pd_stat_hist_cd = 'onSale'      -- 파는거
        GROUP BY p.pd_id;
        ;
    </select>
</mapper>