<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homerunball.admin.stock.dao.stockMapper">
    <!--재고 전체 수량 조회-->
    <select id="count" resultType="int">
        SELECT count(*)
        FROM stk
    </select>

    <!--재고 1개 조회-->
    <select id="selectStk" parameterType="map" resultType="StockDto">
        SELECT *
        FROM stk
        WHERE pd_id = #{pd_id}
          AND pd_clsf_cd = #{pd_clsf_cd}
    </select>

    <!--재고 전체 조회-->
    <select id="selectStkAll" resultType="StockDto">
        SELECT *
        FROM stk
        ORDER BY pd_id ASC, FIELD(pd_clsf_cd, 'XS', 'S', 'M', 'L', 'XL', '2XL', '3XL')
    </select>

    <!--재고 1개 등록하기-->
    <!--odpmt_stk = nml_stk_qty + rt_stk_qty + rgn_stk_qty 이라서 sql 선언 후 include 해주기-->
    <sql id="calcOdpmtStk">
        #{nml_stk_qty}
        +
        #{rt_stk_qty}
        +
        #{rgn_stk_qty}
    </sql>
    <insert id="insertStk" parameterType="StockDto">
        INSERT INTO stk
        (pd_id, pd_clsf_cd, pd_name, nml_stk_qty, rt_stk_qty, rgn_stk_qty, urgn_stk_qty, sfty_stk_qty, odpmt_stk, pur_dt,
        rcpt_dt, rcpt_cp, rcpt_prc, rtl_prc, sls_prc, stk_plc_cd, stk_stat_cd)
        VALUES
        (#{pd_id}, #{pd_clsf_cd}, #{pd_name}, #{nml_stk_qty}, #{rt_stk_qty}, #{rgn_stk_qty}, #{urgn_stk_qty}, #{sfty_stk_qty},
        <include refid="calcOdpmtStk"/>
        , #{pur_dt}, #{rcpt_dt}, #{rcpt_cp}, #{rcpt_prc}, #{rtl_prc}, #{sls_prc}, #{stk_plc_cd}, #{stk_stat_cd})
    </insert>

    <!--재고 전체 삭제하기-->
    <delete id="deleteAll">
        DELETE
        FROM stk
    </delete>

    <!--재고 1개 삭제하기-->
    <delete id="delete" parameterType="map">
        DELETE
        FROM stk
        WHERE pd_id = #{pd_id}
          AND pd_clsf_cd = #{pd_clsf_cd}
    </delete>

    <!--재고 수량 등 내용 변경-->    <!--update id 추가해야해-->
    <update id="update" parameterType="StockDto">
        UPDATE stk
        <set>
            <if test="nml_stk_qty != null">nml_stk_qty = #{nml_stk_qty},</if>
            <if test="nml_stk_qty != null">rt_stk_qty = #{rt_stk_qty},</if>
            <if test="rgn_stk_qty != null">rgn_stk_qty = #{rgn_stk_qty},</if>
            <if test="urgn_stk_qty != null">urgn_stk_qty = #{urgn_stk_qty},</if>
            <if test="sfty_stk_qty != null">sfty_stk_qty = #{sfty_stk_qty},</if>
            <if test="pur_dt != null">pur_dt = #{pur_dt},</if>
            <if test="rcpt_dt != null">rcpt_dt = #{rcpt_dt},</if>
            <if test="rcpt_cp != null">rcpt_cp = #{rcpt_cp},</if>
            <if test="rcpt_prc != null">rcpt_prc = #{rcpt_prc},</if>
            <if test="rtl_prc != null">rtl_prc = #{rtl_prc},</if>
            <if test="sls_prc != null">sls_prc = #{sls_prc},</if>
            <if test="stk_plc_cd != null">stk_plc_cd = #{stk_plc_cd},</if>
            last_mod_dt = NOW()
        </set>
        WHERE pd_id = #{pd_id} AND pd_clsf_cd = #{pd_clsf_cd}
    </update>

    <!--재고 진행상태 변경-->
    <update id="updateStatus" parameterType="StockDto">
        UPDATE stk
        SET stk_stat_cd = #{stk_stat_cd}
        WHERE pd_id = #{pd_id}
          AND pd_clsf_cd = #{pd_clsf_cd}
    </update>
</mapper>